.container {
  background-color: rgb(235, 225, 225);
}

.divstyle {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.setup {
  height: 150px;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.card {
  display: inline-grid;
  margin: 20px 15px;
  background-color: rgb(189, 186, 236);
  border: 4px solid whitesmoke;
}
.card-title {
  justify-content: center;
  display: flex;
}
.card-text {
  justify-content: center;
  display: flex;
}
.card button {
  padding: 2px;
  margin-right: 30px;
  text-align: center;
  cursor: pointer;
  width: 80px;
  border-radius: 12px;
}

.card button:hover {
  opacity: 0.7;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.black {
  color: gray;
}
.black1 {
  color: red;
}

.body1 {
  background-image: linear-gradient(90deg, #ff5f52, black);
}
.body2 {
  background-image: linear-gradient(90deg, green, #82ffa1);
}
.body3 {
  background-image: linear-gradient(90deg, #ff5f52, black);
}
.body4 {
  background-image: linear-gradient(90deg, green, #82ffa1);
}
.body5 {
  background-image: linear-gradient(90deg, #ff5f52, black);
}
.body6 {
  background-image: linear-gradient(90deg, green, #82ffa1);
}
.body7 {
  background-image: linear-gradient(90deg, #ff5f52, black);
}
.body8 {
  background-image: linear-gradient(90deg, green, #82ffa1);
}
