/* .body1 {
  background-image: linear-gradient(90deg, #ff5f52, black);
}
.body2 {
  background-image: linear-gradient(90deg, green, #82ffa1);
}
.body3 {
  background-image: linear-gradient(90deg, #ff5f52, black);
}
.body4 {
  background-image: linear-gradient(90deg, green, #82ffa1);
}
.body5 {
  background-image: linear-gradient(90deg, #ff5f52, black);
}
.body6 {
  background-image: linear-gradient(90deg, green, #82ffa1);
}
.body7 {
  background-image: linear-gradient(90deg, #ff5f52, black);
}
.body8 {
  background-image: linear-gradient(90deg, green, #82ffa1);
} */
